.form {
  width: 100%;
  display: flex;
  justify-content: center;
  &__input {
    width: 60%;
  }

  &__button {
    outline: none;
    border: none;
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
}
